*{
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: aliceblue;
}
.primary_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.header_form{
    border: none;
    width: 500px;
    min-height: 80px;
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
    background-color:blue;
    color:white;
    box-shadow: 2px 5px #8888889c;
}

.my_form {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_nom {
    border:none;
    min-width: 500px;
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 5px #8888889c;

}

.form_nom input:valid{
    border:none;
    border-bottom: 3px solid #0d89fd;
    margin-top: 10px;
    height: 30px;
    text-transform: uppercase;
}
.form_nom input:invalid{
    border:none;
    border-bottom: 3px solid #fd0d0d;
    margin-top: 10px;
    height: 30px;
}
.form_prenom{
    border:none;
    min-width: 500px;
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 5px #8888889c;
}
.form_prenom input:valid{
    border:none;
    border-bottom: 3px solid #0d89fd;
    margin-top: 10px;
    height: 30px;
    text-transform: capitalize;
}
.form_prenom input:invalid{
    border:none;
    border-bottom: 3px solid #fd0d0d;
    margin-top: 10px;
    height: 30px;
}
.form_date{
    border: none;
    min-width: 500px;
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 5px #8888889c;

}
.form_date input:valid{
    border:none;
    border-bottom: 3px solid  #0d89fd;
    margin-top: 10px;
    height: 30px;
}
.form_date input:invalid{
    border:none;
    border-bottom: 3px solid  red;
    margin-top: 10px;
    height: 30px;
}
.form_addr{
    border: none;
    min-width: 500px;
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 5px #8888889c;

}
.form_addr input:valid{
    border:none;
    border-bottom: 3px solid  #0d89fd;
    margin-top: 10px;
    height: 30px;
}
.form_addr input:invalid{
    border:none;
    border-bottom: 3px solid  red;
    margin-top: 10px;
    height: 30px;
}
.form_mail{
    border: none;
    min-width: 500px;
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 5px #8888889c;

}
.form_mail input:valid{
    border:none;
    border-bottom: 3px solid  #0d89fd;
    margin-top: 10px;
    height: 30px;
    }
.form_mail input:invalid{
    border:none;
    border-bottom: 3px solid  red;
    margin-top: 10px;
    height: 30px;
    }
.form_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.form_button input{
    padding: 10px;
    min-width: 100px;
    border: 1px solid rgb(21, 95, 3) ;
    border-radius: 12px;
    background-color: green;
    color: white;
    font-size: larger;
}

.form_button input:hover{
    background-color: rgb(14, 194, 14);
}

#error, #resultat{
    display : none;
  }
  
.bellara{
    display : block !important;
}
#error{
    color: white;
    border: 1px outset red;
    background-color: rgb(228, 171, 171);
    padding : 10px
 }

 #resultat{
    color:white;
    border: 1px outset rgb(1, 97, 1);
    background-color: rgb(15, 197, 94);
    padding : 10px
    

 }
